@import 'variables';

svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
}

.page-wrapper {
    display: flex;
    min-height: 100vh;
}


.left {
    display: flex;
    position: relative;
    flex-basis: 40%;
    border-right: 2px grey solid;
    overflow: hidden;

    .moon-container {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;

        #moon {
            width: 200px;
        }
    }

    .rocket-wrapper {
        position: absolute;
        display: flex;
        justify-content: center;
        flex: 1;
        width: 100%;
        bottom: 0;

        &.float {
            animation: float 2s infinite;

            @keyframes float {
                0% {
                    transform: translateY(0px);
                }
                50% {
                    transform: translateY(-40px);
                }
                100% {
                    transform: translateY(0px);
                }
            }
        }
    }

    .rocket-container {
        width: 164px;
        height: 296px;
        margin-top: auto;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    #rocket-body {
        top: 0;
        right: 0;
        display: block;
        position: absolute;
    }

    #rocket-flame {
        bottom: 10px;
        left: 50%;
        margin-left: -34px;
        display: block;
        position: absolute;
        animation: flicker;
        animation-duration: 0.12s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
    }

    .progress-wrapper {
        display: flex;
        margin-left: auto;
        align-items: center;
        position: relative;
    }

    .progress-container {
        height: 80%;
        width: 140px;
    }
}


.right {
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: column;

    .top {
        border-bottom: 2px grey solid;
        height: 50%;
        width: 100%;
        padding: 60px;
        box-sizing: border-box;
        background: #fafafa;
    }

    .user-data-container {
        border: 1px black solid;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    .form-field-container {
        position: relative;
    }

    .extension {
        position: absolute;
        top: 23px;
        left: 101%;
        color: grey;
    }

    .player-id,
    .balance {
        font-weight: bold;
    }

    .form-wrapper {
        width: 400px;
    }

    #bet-form {
        display: flex;
        flex-direction: column;
    }

    .submit-button {
        &:disabled {
            background: #cccccc;
            color: #959595;
        }
    }


    .bottom {
        padding: 20px 60px;
    }

    .winner {
        color: green
    }

    .loser {
        color: red;
    }
}


@keyframes flicker {
    0% {
        transform: rotate(-1deg);
    }
    20% {
        transform: rotate(2deg) scaleY(1.2);
    }
    40% {
        transform: rotate(-2deg);
    }
    60% {
        transform: rotate(2deg);
    }
    80% {
        transform: rotate(-2deg) scaleY(0.9);
    }
    100% {
        transform: rotate(2deg);
    }
}
