/* You can add global styles to this file, and also import other style files */
@import 'css-reset';
@import 'variables';

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.valign-center {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.center {
    justify-content: center;
    text-align: center;
}

.page-flex-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
}

.page-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px !important;
}

h2 {
    font-size: 36px;
}

.field-error {
    color: red;
}

.field-success {
    color: green;
}

.mat-form-field {
    color: #202020;
    width: 100%;
    border-color: red !important;
}

.mat-form-field-appearance-outline
.mat-form-field-outline {
    color: #919191;
}

mat-label {
    color: #919191;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
